:root {
  --light: #F9FAF8;
  --light-secondary: #E5E7EB;
  --dark: #1F2937;
  --blue: #3882F6;
}


* {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.hero {
  background-color: var(--dark);
  padding: 0 200px;
}

header,
.hero section {
  padding: 20px 0 70px 0;
  display: flex;
}

header {
  justify-content: space-between;
}

header h1 {
  font-size: 24px;
  color: var(--light);
}

header a {
  font-size: 18px;
  color: var(--light-secondary);
  margin: 20px;
  color: var(--light-secondary);
}

.hero section {
  display: flex;
  gap: 40px;
}

.hero section h1 {
  font-size: 48px; 
  font-weight: 1000;
  color: var(--light);
}

.hero section p {
  font-size: 18px;
  color: var(--light-secondary);
}

.hero section button {
  font-size: 18px;
  font-weight: bold;
  background-color: var(--blue);
  color: var(--light);
  border-color: var(--blue);
  border-radius: 10px;
  padding: 5px 30px;
}

.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 600px;
  background-color: gray;
  color: var(--light-secondary);
}